USE [master]
GO
/****** Object:  Database [ITI_E]    Script Date: 1/23/2026 4:50:15 PM ******/
CREATE DATABASE [ITI_E]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITI_E', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITI_E.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITI_E_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITI_E_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITI_E].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITI_E]
GO
/****** Object:  Table [dbo].[Choice]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choice](
	[Choice_Id] [int] NOT NULL,
	[Q_Id] [int] NOT NULL,
	[Is_Correct] [bit] NULL,
	[Choice_Content] [nvarchar](100) NULL,
 CONSTRAINT [PK_Choice] PRIMARY KEY CLUSTERED 
(
	[Choice_Id] ASC,
	[Q_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[C_Id] [int] NOT NULL,
	[C_Name] [nvarchar](50) NULL,
	[C_Des] [nvarchar](200) NULL,
	[C_Duration] [float] NULL,
	[Track_Id] [int] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[C_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_Topic]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_Topic](
	[C_Id] [int] NOT NULL,
	[Topic_Id] [int] NOT NULL,
 CONSTRAINT [PK_Course_Topic] PRIMARY KEY CLUSTERED 
(
	[C_Id] ASC,
	[Topic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[D_Id] [int] NOT NULL,
	[D_Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[D_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[E_Id] [int] NOT NULL,
	[E_Title] [nvarchar](50) NULL,
	[E_Total_Marks] [float] NULL,
	[E_Duaration] [float] NULL,
	[E_Date] [date] NULL,
	[C_Id] [int] NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[E_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Questions]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Questions](
	[E_Id] [int] NOT NULL,
	[Q_Id] [int] NOT NULL,
 CONSTRAINT [PK_Exam_Questions] PRIMARY KEY CLUSTERED 
(
	[E_Id] ASC,
	[Q_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Ins_Id] [int] NOT NULL,
	[Ins_FName] [nvarchar](50) NULL,
	[Ins_LName] [nvarchar](50) NULL,
	[Ins_Email] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[Salary] [float] NULL,
	[Ins_Gender] [nvarchar](50) NULL,
	[Dep_Id] [int] NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[Ins_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor_Phones]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor_Phones](
	[Ins_Id] [int] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Instructor_Phones] PRIMARY KEY CLUSTERED 
(
	[Ins_Id] ASC,
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Q_Id] [int] NOT NULL,
	[Q_Content] [nvarchar](400) NULL,
	[Q_Type] [nvarchar](50) NULL,
	[Q_Points] [float] NULL,
	[Q_hardness] [nvarchar](50) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Q_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[S_Id] [int] NOT NULL,
	[S_FName] [nvarchar](50) NULL,
	[S_LName] [nvarchar](50) NULL,
	[S_Age] [int] NULL,
	[S_Email] [nvarchar](50) NULL,
	[S_GPA] [decimal](3, 2) NULL,
	[D_Id] [int] NULL,
	[Track_Id] [int] NULL,
	[Dep_Id] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[S_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Answer]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Answer](
	[A_Id] [int] NOT NULL,
	[Question_Id] [int] NULL,
	[Exam_Id] [int] NULL,
	[Choice_Id] [int] NULL,
	[S_Id] [int] NULL,
 CONSTRAINT [PK_Student_Answer] PRIMARY KEY CLUSTERED 
(
	[A_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Course]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Course](
	[S_Id] [int] NOT NULL,
	[Course_Id] [int] NOT NULL,
	[Enrollment_Date] [date] NULL,
 CONSTRAINT [PK_Student_Course] PRIMARY KEY CLUSTERED 
(
	[S_Id] ASC,
	[Course_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Exam]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Exam](
	[S_Id] [int] NOT NULL,
	[E_Id] [int] NOT NULL,
	[Grade] [float] NULL,
	[Date_Taken] [date] NULL,
 CONSTRAINT [PK_Student_Exam] PRIMARY KEY CLUSTERED 
(
	[S_Id] ASC,
	[E_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Phones]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Phones](
	[S_Id] [int] NOT NULL,
	[S_Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Student_Phones] PRIMARY KEY CLUSTERED 
(
	[S_Id] ASC,
	[S_Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaching]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaching](
	[S_Id] [int] NOT NULL,
	[Ins_Id] [int] NOT NULL,
	[C_Id] [int] NOT NULL,
 CONSTRAINT [PK_Teaching] PRIMARY KEY CLUSTERED 
(
	[S_Id] ASC,
	[Ins_Id] ASC,
	[C_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Topic_Id] [int] NOT NULL,
	[Topic_Name] [nvarchar](50) NULL,
	[Topic_Des] [nvarchar](200) NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Topic_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track](
	[Track_Id] [int] NOT NULL,
	[Track_Name] [nvarchar](100) NULL,
	[Track_Des] [nvarchar](200) NULL,
	[Dep_Id] [int] NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[Track_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Track_JobProfile]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track_JobProfile](
	[Track_Id] [int] NOT NULL,
	[T_JobProfiles] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Track_JobProfile] PRIMARY KEY CLUSTERED 
(
	[Track_Id] ASC,
	[T_JobProfiles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Choice]  WITH CHECK ADD  CONSTRAINT [FK_Choice_Question] FOREIGN KEY([Q_Id])
REFERENCES [dbo].[Question] ([Q_Id])
GO
ALTER TABLE [dbo].[Choice] CHECK CONSTRAINT [FK_Choice_Question]
GO
ALTER TABLE [dbo].[Choice]  WITH CHECK ADD  CONSTRAINT [FK_Choice_Student_Answer] FOREIGN KEY([Choice_Id])
REFERENCES [dbo].[Student_Answer] ([A_Id])
GO
ALTER TABLE [dbo].[Choice] CHECK CONSTRAINT [FK_Choice_Student_Answer]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Track] FOREIGN KEY([Track_Id])
REFERENCES [dbo].[Track] ([Track_Id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Track]
GO
ALTER TABLE [dbo].[Course_Topic]  WITH CHECK ADD  CONSTRAINT [FK_Course_Topic_Course] FOREIGN KEY([C_Id])
REFERENCES [dbo].[Course] ([C_Id])
GO
ALTER TABLE [dbo].[Course_Topic] CHECK CONSTRAINT [FK_Course_Topic_Course]
GO
ALTER TABLE [dbo].[Course_Topic]  WITH CHECK ADD  CONSTRAINT [FK_Course_Topic_Topic] FOREIGN KEY([Topic_Id])
REFERENCES [dbo].[Topic] ([Topic_Id])
GO
ALTER TABLE [dbo].[Course_Topic] CHECK CONSTRAINT [FK_Course_Topic_Topic]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Course] FOREIGN KEY([C_Id])
REFERENCES [dbo].[Course] ([C_Id])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Course]
GO
ALTER TABLE [dbo].[Exam_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Questions_Exam] FOREIGN KEY([E_Id])
REFERENCES [dbo].[Exam] ([E_Id])
GO
ALTER TABLE [dbo].[Exam_Questions] CHECK CONSTRAINT [FK_Exam_Questions_Exam]
GO
ALTER TABLE [dbo].[Exam_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Questions_Question] FOREIGN KEY([Q_Id])
REFERENCES [dbo].[Question] ([Q_Id])
GO
ALTER TABLE [dbo].[Exam_Questions] CHECK CONSTRAINT [FK_Exam_Questions_Question]
GO
ALTER TABLE [dbo].[Instructor_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Phones_Instructor] FOREIGN KEY([Ins_Id])
REFERENCES [dbo].[Instructor] ([Ins_Id])
GO
ALTER TABLE [dbo].[Instructor_Phones] CHECK CONSTRAINT [FK_Instructor_Phones_Instructor]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([Dep_Id])
REFERENCES [dbo].[Department] ([D_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department1] FOREIGN KEY([D_Id])
REFERENCES [dbo].[Department] ([D_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department1]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Track] FOREIGN KEY([Track_Id])
REFERENCES [dbo].[Track] ([Track_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Track]
GO
ALTER TABLE [dbo].[Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Student_Answer_Exam] FOREIGN KEY([Exam_Id])
REFERENCES [dbo].[Exam] ([E_Id])
GO
ALTER TABLE [dbo].[Student_Answer] CHECK CONSTRAINT [FK_Student_Answer_Exam]
GO
ALTER TABLE [dbo].[Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Student_Answer_Question] FOREIGN KEY([Question_Id])
REFERENCES [dbo].[Question] ([Q_Id])
GO
ALTER TABLE [dbo].[Student_Answer] CHECK CONSTRAINT [FK_Student_Answer_Question]
GO
ALTER TABLE [dbo].[Student_Answer]  WITH CHECK ADD  CONSTRAINT [FK_Student_Answer_Student] FOREIGN KEY([S_Id])
REFERENCES [dbo].[Student] ([S_Id])
GO
ALTER TABLE [dbo].[Student_Answer] CHECK CONSTRAINT [FK_Student_Answer_Student]
GO
ALTER TABLE [dbo].[Student_Course]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Course] FOREIGN KEY([Course_Id])
REFERENCES [dbo].[Course] ([C_Id])
GO
ALTER TABLE [dbo].[Student_Course] CHECK CONSTRAINT [FK_Student_Course_Course]
GO
ALTER TABLE [dbo].[Student_Course]  WITH CHECK ADD  CONSTRAINT [FK_Student_Course_Student] FOREIGN KEY([S_Id])
REFERENCES [dbo].[Student] ([S_Id])
GO
ALTER TABLE [dbo].[Student_Course] CHECK CONSTRAINT [FK_Student_Course_Student]
GO
ALTER TABLE [dbo].[Student_Exam]  WITH CHECK ADD  CONSTRAINT [FK_Student_Exam_Exam] FOREIGN KEY([E_Id])
REFERENCES [dbo].[Exam] ([E_Id])
GO
ALTER TABLE [dbo].[Student_Exam] CHECK CONSTRAINT [FK_Student_Exam_Exam]
GO
ALTER TABLE [dbo].[Student_Exam]  WITH CHECK ADD  CONSTRAINT [FK_Student_Exam_Student] FOREIGN KEY([S_Id])
REFERENCES [dbo].[Student] ([S_Id])
GO
ALTER TABLE [dbo].[Student_Exam] CHECK CONSTRAINT [FK_Student_Exam_Student]
GO
ALTER TABLE [dbo].[Student_Phones]  WITH CHECK ADD  CONSTRAINT [FK_Student_Phones_Student] FOREIGN KEY([S_Id])
REFERENCES [dbo].[Student] ([S_Id])
GO
ALTER TABLE [dbo].[Student_Phones] CHECK CONSTRAINT [FK_Student_Phones_Student]
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Teaching_Course] FOREIGN KEY([C_Id])
REFERENCES [dbo].[Course] ([C_Id])
GO
ALTER TABLE [dbo].[Teaching] CHECK CONSTRAINT [FK_Teaching_Course]
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Teaching_Instructor] FOREIGN KEY([Ins_Id])
REFERENCES [dbo].[Instructor] ([Ins_Id])
GO
ALTER TABLE [dbo].[Teaching] CHECK CONSTRAINT [FK_Teaching_Instructor]
GO
ALTER TABLE [dbo].[Teaching]  WITH CHECK ADD  CONSTRAINT [FK_Teaching_Student] FOREIGN KEY([S_Id])
REFERENCES [dbo].[Student] ([S_Id])
GO
ALTER TABLE [dbo].[Teaching] CHECK CONSTRAINT [FK_Teaching_Student]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Department] FOREIGN KEY([Dep_Id])
REFERENCES [dbo].[Department] ([D_Id])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_Department]
GO
ALTER TABLE [dbo].[Track_JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_Track_JobProfile_Track] FOREIGN KEY([Track_Id])
REFERENCES [dbo].[Track] ([Track_Id])
GO
ALTER TABLE [dbo].[Track_JobProfile] CHECK CONSTRAINT [FK_Track_JobProfile_Track]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddTrackJobProfile]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddTrackJobProfile]
    @TrackId INT,
    @JobProfile NVARCHAR(100)
AS
BEGIN
    -- Insert a new job profile for a track
    INSERT INTO Track_JobProfile(Track_Id,T_JobProfiles)
    VALUES (@TrackId,@JobProfile)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateDepartment]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateDepartment]
    @DepartmentId INT,
    @DepartmentName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Department(D_Id,D_Name)
    VALUES (@DepartmentId,@DepartmentName)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateExam]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateExam]
    @ExamId INT,
    @ExamTitle NVARCHAR(50),
    @TotalMarks FLOAT,
    @Duration FLOAT,
    @ExamDate DATE,
    @CourseId INT
AS
BEGIN
    INSERT INTO Exam (E_Id,E_Title,E_Total_Marks,E_Duaration,E_Date,C_Id)
    VALUES (@ExamId,@ExamTitle,@TotalMarks,@Duration,@ExamDate,@CourseId)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTopic]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateTopic]
    @TopicId INT,
    @TopicName NVARCHAR(50),
    @TopicDescription NVARCHAR(200)
AS
BEGIN
    INSERT INTO Topic(Topic_Id,Topic_Name,Topic_Des)
    VALUES (@TopicId,@TopicName,@TopicDescription)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateTrack]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateTrack]
    @TrackId INT,
    @TrackName NVARCHAR(100),
    @TrackDescription NVARCHAR(200),
    @DepartmentId INT
AS
BEGIN
    INSERT INTO Track(Track_Id,Track_Name,Track_Des,Dep_Id)
    VALUES (@TrackId,@TrackName,@TrackDescription,@DepartmentId)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDepartment]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDepartment]
    @DepartmentId INT
AS
BEGIN
    -- Delete department by ID
    DELETE FROM Department
    WHERE D_Id=@DepartmentId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteExam]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteExam]
    @ExamId INT
AS
BEGIN
    DELETE FROM Exam
    WHERE E_Id=@ExamId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTopic]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteTopic]
    @TopicId INT
AS
BEGIN
    DELETE FROM Topic
    WHERE Topic_Id=@TopicId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTrack]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteTrack]
    @TrackId INT
AS
BEGIN
    DELETE FROM Track
    WHERE Track_Id=@TrackId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAvailableExamsForStudent]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAvailableExamsForStudent]
    @CourseId INT
AS
BEGIN
    SELECT E_Id,E_Title,E_Total_Marks,E_Duaration,E_Date,C_Id
    FROM Exam
    WHERE C_Id = @CourseId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTrackCourses]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetTrackCourses]
    @TrackId INT
AS
BEGIN
    SELECT C_Id,C_Name,C_Des,C_Duration,Track_Id
    FROM Course
    WHERE Track_Id=@TrackId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveTrackJobProfile]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RemoveTrackJobProfile]
    @TrackId INT,
    @JobProfile NVARCHAR(100)
AS
BEGIN
    DELETE FROM Track_JobProfile
    WHERE Track_Id=@TrackId 
      AND T_JobProfiles=@JobProfile
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDepartment]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDepartment]
    @DepartmentId INT,
    @DepartmentName NVARCHAR(100)
AS
BEGIN
    UPDATE Department
    SET D_Name=@DepartmentName
    WHERE D_Id=@DepartmentId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateExam]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateExam]
    @ExamId INT,
    @ExamTitle NVARCHAR(50),
    @TotalMarks FLOAT,
    @Duration FLOAT,
    @ExamDate DATE
AS
BEGIN
    UPDATE Exam
    SET E_Title=@ExamTitle,
        E_Total_Marks=@TotalMarks,
        E_Duaration=@Duration,
        E_Date=@ExamDate
    WHERE E_Id=@ExamId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTopic]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateTopic]
    @TopicId INT,
    @TopicName NVARCHAR(50),
    @TopicDescription NVARCHAR(200)
AS
BEGIN
    UPDATE Topic
    SET Topic_Name=@TopicName,
        Topic_Des=@TopicDescription
    WHERE Topic_Id=@TopicId
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTrack]    Script Date: 1/23/2026 4:50:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateTrack]
    @TrackId INT,
    @TrackName NVARCHAR(100),
    @TrackDescription NVARCHAR(200),
    @DepartmentId INT
AS
BEGIN
    UPDATE Track
    SET Track_Name=@TrackName,
        Track_Des=@TrackDescription,
        Dep_Id=@DepartmentId
    WHERE Track_Id=@TrackId
END
GO
USE [master]
GO
